* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1em;
  padding-inline: 0.6em;

  flex-wrap: wrap;
  flex-direction: column;
}

nav {
  margin-top: 1em;
  width: 100%;
  flex: 1;
}

.nav-links,
a {
  display: flex;

  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  line-height: 20px;
  flex-wrap: wrap;
  color: #202020;
  padding-bottom: 0.1em;
}

.nav-link {
  padding-inline: 0.5em;
}

@media only screen and (min-width: 768px) {
  .menu {
    margin-block: 2em;
  }

  nav {
    margin-top: 2em;
  }

  .nav-links {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
 
    .menu{
        display: flex;
        flex-direction: row;
       
    }
    nav {
        display: flex;
        justify-content:flex-end;
        margin-right:2.8em;
        margin-top: 0;

    }

    .logo-wrapper {
        margin-left: 3.4em;
    }
   

  
  }



