* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section {

    display: flex;
    align-items: left;
    flex-direction: column;
    padding-inline: 1.8em;
    background-color: #ffe29a;
}

.hero-section h1 {
  font-family: "Elsie Swash Caps", cursive;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 64px;

  color: #202020;
}

.hero-section p {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* or 162% */


color: #202020;

opacity: 0.9
}
