* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-wrapper {
    width: 70%;
    margin-left: 5em;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

nav {
    width: 100%;
    flex: 1;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}


.nav-links, a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    
}



.nav-link {
    padding-inline: 0.5em;
}