* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.logo-wrapper {
   
    
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1.8em;
    padding-inline: 0.6em;
    
    flex-wrap: wrap;
    flex-direction: column;
}

nav {
    margin-block: 1.5em;
    width: 100%;
    flex: 1;
   
    
    
    
}


.nav-links, a {
    display: flex;
    
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    line-height: 20px;
    flex-wrap: wrap;
    color: #202020;
    
}



.nav-link {
    padding-inline: 0.5em;
}